<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

<div *ngIf="loginedUser" style="float:right; margin-right:50px">
  <span>Welcome, <label>{{loginedUser.name}}</label></span><br>
  <a [routerLink]="['/user', loginedUser.id, 'message']" class="btn btn-info btn-sm">
    <span class="glyphicon glyphicon-envelope"></span> Message
  </a>
  <button (click)="signOut()" class="btn btn-primary btn-primary">SignOut</button>
</div>

<h1 class="text-center">SNU Moim</h1>

<div class="container-fluid">
  <div class="row">

    <div class="main">

      <!--Recommendation-->
      <div *ngIf="meetingsShown" class="container-fluid">
        <h2> You might like..</h2>

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div *ngFor="let meeting of meetingsShown" class="col-md-4">
                <div class="thumbnail">
                  <img alt="Bootstrap Thumbnail First" src="http://static.oprah.com/2016/12/201612-orig-throw-away-books-949x534.jpg" />
                  <div class="caption">
                    <h4>
                      {{ meeting.title }}
                    </h4>
                    <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                      {{ meeting.description}}
                    </p>
                    <p>
                      <a class="btn btn-primary" [routerLink]="['/meeting', meeting.id]">View detail</a>
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <span (click)="showOtherRecommendation(false)" class="glyphicon glyphicon-circle-arrow-left"
              [style.opacity]="idx==0?0.5:1" style="float:left; font-size:35px; color: #336699"></span>
        <span (click)="showOtherRecommendation(true)" class="glyphicon glyphicon-circle-arrow-right"
              [style.opacity]="idx+N==meetingsRecommended.length?0.5:1" style="float:right; font-size:35px; color: #336699"></span>

      </div>
      <br><br>


      <h2 class="sub-header">SNU MO-IMs</h2>
      <span style="float:right">
       <input type="checkbox" class="checkbox-inline" [checked]="availableOnly" (click)="available()"> Available meetings only
      </span>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-default">
          <tr>
            <th>NO.</th>
            <th>TITLE</th>
            <th>AUTHOR</th>
            <th>SUBJECT</th>
            <th>STATUS</th>
            <th>DATE</th>
          </tr>
          <tr *ngFor="let meeting of meetings | paginate: { itemsPerPage: maxSize, currentPage: currentPage, totalItems: totalItems }">
            <td>{{meeting.id}}</td>
            <td>
              <a [routerLink]="['/meeting', meeting.id]" routerLinkActive="active">{{meeting.title}}</a>
            </td>

            <td><a [routerLink]="['/user', meeting.author.id]">{{meeting.author.name}}</a></td>
            <td>{{meeting.subject.name}}</td>
            <td>
              <span *ngIf="!meeting.is_closed; else closed" style="margin-left:15px">
                <span [style.color]="(meeting.members.length < meeting.max_member) ? '#155724' : 'maroon'">
                  {{meeting.members.length}}
                </span>
                / {{meeting.max_member}}
              </span>
              <ng-template #closed>
                <label class="label label-default" style="background-color: #C21F39" >
                  CLOSED
                </label>
              </ng-template><!--End Join / Leave -->
            </td>
            <td>
              <span style="font-size:3px; color: #7f7f7f;">
                {{ meeting.datetime.year }}-{{meeting.datetime.month}}-{{meeting.datetime.day}} -
                {{ meeting.datetime.hour}}:{{meeting.datetime.minute}}
                <span *ngIf="meeting.datetime.afternoon;else AM">PM</span><ng-template #AM>AM</ng-template>
              </span>
            </td>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div class="center-block" style="margin: 0 auto; width:800px; height:100px; float:right">
      <button class=" col-sm-2 btn btn-primary" style="float:right; width:100px; margin-right: 100px;"
              (click)="goToCreatePage()">create</button><br><br>

    <!--Pagination-->
    <pagination-controls (pageChange)="currentPage = $event; pageChanged($event)" style="display:block; margin:auto"></pagination-controls>

    <!--Search filter-->
    <div style="display:block; margin:0 auto; width:800px">
      <select name="interest" [(ngModel)]="selectedOption">
        <optgroup label="options">
          <option disabled selected hidden>options</option>
          <option *ngFor="let option of searchOptions" [ngValue]="option">{{option}}</option>
        </optgroup>
      </select>

      <span *ngIf="(selectedOption==='category') && interestList">
        <select name="interest" [(ngModel)]="selectedInterest">
          <optgroup label="interest">
            <option disabled selected hidden>interest</option>
            <option *ngFor="let interest of interestList" [ngValue]="interest">{{interest.name}}</option>
          </optgroup>
        </select>

        <select *ngIf="selectedInterest" name="subject" [(ngModel)]="selectedSubject">
          <optgroup label="subject">
            <option disabled selected hidden>subject</option>
            <option *ngFor="let subject of selectedInterest.subjects" [ngValue]="subject">{{subject.name}}</option>
          </optgroup>
        </select>
      </span>
      <input class="form-control" [(ngModel)]="query" style="display:inline;width:200px;"
               placeholder="query" id="query">

      <button class="btn" style="display: inline; width:80px" (click)="search()">search</button>
    </div>
    </div>
</div>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>







