<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h2 class="text-center">SNU Meeting SIGN UP</h2>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">mySNU ID</label>
    <div class="col-sm-8">
      <input class="col-sm-9 form-control" placeholder="Enter mySNU ID" #username>
    </div>
    <button class="btn btn-primary" (click)="duplicateCheck(username.value)">Check</button>
  </div>
</form>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Password</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" placeholder="Enter Password" #password>
    </div>
  </div>
</form>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Password Check</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" placeholder="Re-Enter Password" #passwordCheck>
    </div>
  </div>
</form>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-8">
      <input class="form-control" placeholder="Enter Name" #name>
    </div>
  </div>
</form>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">College</label>
    <div class="col-sm-8">
      <select class="form-control" [(ngModel)]="selectedCollege" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let college of colleges" [ngValue]="college">
          {{college.name}}
        </option>
      </select>
    </div>
  </div>
</form>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Interest</label>
        <div class="checkbox checkbox-inline">
          <div *ngFor="let interest of interests">
            <input type="checkbox" class="checkbox-inline" (click)="interestCheck(interest)">{{interest}}
              <div *ngFor="let subject of subjects">
                <div class="col-sm-offset-1" *ngIf="subject.interest === interest && interestChecked[interest]">
                  <input type="checkbox" class="checkbox-inline">{{subject.name}}
                </div>
              </div>
          </div>
        </div>
  </div>
</form>

<p><p><button class="col-sm-offset-5 col-sm-2 btn btn-primary"
              (click)="signUp(username.value, password.value, passwordCheck.value, name.value)">Sign Up</button>
