<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

</head>

<body style="font-family: Helvetica Neue">
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa d-inline fa-lg fa-users"></i> <b>SNU MO-IM</b></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-info"></i> About us</a>
        </li>
      </ul>
      <a class="btn navbar-btn ml-2 text-white btn-secondary"><i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign in</a>
    </div>
  </div>
</nav>
<div class="py-5 text-center opaque-overlay" style="background-image: url(&quot;https://scontent-icn1-1.xx.fbcdn.net/v/t31.0-8/14589656_1380190865325290_4178379528541663010_o.jpg?oh=20647700b2a33587a89fcb2ce60f6d7e&oe=5AD1BF76&quot;);">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 text-white">
        <h1 class="display-3 mb-4">WELCOME TO SNU MO-IM</h1>
        <p class="lead mb-5">Where everyone can meet and enjoy activities! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
        <button type="submit" class="btn btn-secondary" (click)="signUp()">JOIN US</button>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3"> </div>
      <div class="col-md-6">
        <div class="card text-white p-5 bg-primary">
          <div class="card-body">
            <h1 class="mb-4">Login</h1>
            <form action="https://formspree.io/YOUREMAILHERE">
              <div class="form-group"> <label>SNU ID</label>
                <input type="email" class="form-control" placeholder="Enter mySNU ID" #username> </div>
              <div class="form-group"> <label>Password</label>
                <input type="password" class="form-control" placeholder="Enter password" #password> </div>
              <button type="submit" class="btn btn-dark" (click)="signIn(username.value, password.value)">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5 text-center bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="pb-3 text-secondary">Why SNU MO-IM ? Here are the features we provide</h1>
      </div>
    </div>
    <div class="row">
      <div class="text-right col-md-6">
        <div class="row my-5">
          <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-columns fa-3x"></i></div>
          <div class="col-10 text-lg-right text-left order-lg-1">
            <h4 class="text-primary">Responsive design</h4>
            <p>Based on fluid design principles.
              <br>Works with screen resolution</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-4x fa-weixin"></i></div>
          <div class="col-10 text-lg-right text-left order-lg-1">
            <h4 class="text-primary">Direct message</h4>
            <p>Start a communication with SNU students</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa  fa-3x fa-thumbs-o-up"></i></div>
          <div class="col-10 text-lg-right text-left order-lg-1">
            <h4 class="text-primary">Recommandation</h4>
            <p>See which meeting is popular</p>
          </div>
        </div>
      </div>
      <div class="text-left col-md-6">
        <div class="row my-5">
          <div class="col-2 text-center"><i class="d-block fa fa-3x fa-handshake-o"></i></div>
          <div class="col-10">
            <h4 class="text-primary">Making new friends</h4>
            <p>Meet new friends who has common interest with you.
              <br>Arrange a MO-IM and enjoy.</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 text-center"><i class="d-block mx-auto fa  fa-3x fa-facebook"></i></div>
          <div class="col-10">
            <h4 class="text-primary">Facebook connection</h4>
            <p>Connect and link your interest from facebook</p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-2 text-center"><i class="d-block fa  fa-heart-o fa-3x"></i></div>
          <div class="col-10">
            <h4 class="text-primary">Join &amp; leave a meeting</h4>
            <p>Participate and cancle with just one click</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-primary py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 my-3">
        <h1 class="display-4 text-white text-md-left text-center">Let's connect the world</h1>
      </div>
      <div class="col-md-4  text-center align-self-center">
        <a href="/oauth/login/facebook/" target="_blank"><i class="fa fa-fw fa-facebook fa-3x text-white mx-3"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="text-white bg-secondary">
  <div class="container">
    <div class="row">
      <div class="p-4 col-md-3">
        <h2 class="mb-4 light">SNU MO-IM</h2>
        <p class="text-white">A group who aims to ease of the lives of SNU students</p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-light">Mapsite</h2>
        <ul class="list-unstyled">
          <a href="#" class="text-white">Home</a>
          <br>
          <a href="#" class="text-white">About us</a>
          <br>
          <a href="#" class="text-white">Our services</a>
          <br>
          <a href="#" class="text-white">Stories</a>
        </ul>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4">Contact</h2>
        <p>
          <a href="mailto:snumoim@snu.ac.kr" class="text-white"><i class="fa d-inline mr-3 fa-envelope-o text-light"></i>SNU mail</a>
        </p>
        <a href="mailto:snumoim@snu.ac.kr" class="text-white"> </a>
        <p>
          <a href="mailto:snumoim@snu.ac.kr" class="text-white"> </a>
          <a href="https://goo.gl/5U1Q7X" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-light"></i>Seoul National University</a>
        </p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-light">SNU MO-IM</h2>
        <form>
          <fieldset class="form-group text-white"> <label for="exampleInputEmail1">M: Matching<br>O: Of<br>I: Identical<br>M: Motives<br></label> </fieldset>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-white">© Copyright 2017 SNUMOIM - All rights reserved. </p>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>
