<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">SNU MO-IM</h2>
        <form class="login-form">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">mySNU ID</label>
            <input type="text" class="form-control" placeholder="Enter mySNU ID" #username>

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" #password>
          </div>

          <div class="form-check">
            <button type="submit" class="btn btn-login float-left" (click)="signIn(username.value, password.value)">Sign in</button>
          </div>
          <div class="form-check">
            <button type="submit" class="btn btn-signup float-right" (click)="signUp()">Sign up</button>
          </div>
          <div>
            <a href="/oauth/login/facebook/" class="btn btn-facebook" role="button">Facebook</a>
          </div>

        </form>
      </div>

      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://i.imgur.com/6lv6BgN.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Where everyone can meet</h2>
                  <p>Welcome, join us and make some new friends!</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://i.imgur.com/J2NLhuL.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>SNU MO-IM for SNU students</h2>
                  <p>Middle detail</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://i.imgur.com/pghrx9x.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Welcome to SNU MO-IM</h2>
                  <p>This is where you can enjoy your life, and greet with new people with common interests</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
