<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div *ngIf="loginedUser" style="float:right">
  <span>Welcome, </span>{{loginedUser.name}}
  <button [routerLink]="['/user', loginedUser.id, 'message']" class="btn btn-primary btn-primary">Message</button>
  <button (click)="signOut()" class="btn btn-primary btn-primary">SignOut</button>
</div>

<h2 class="text-center">View Profile</h2>

<div *ngIf="user">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-6 control-label">mySNU ID</label>
      <div class="col-sm-6">
        <p class="form-control-static">{{user.username}}</p>
      </div>
    </div>
  </form>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-6 control-label">Name</label>
      <div class="col-sm-6">
        <p class="form-control-static">{{user.name}}</p>
      </div>
    </div>
  </form>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-6 control-label">College</label>
      <div class="col-sm-6">
        <p class="form-control-static">{{user.college.name}}</p>
      </div>
    </div>
  </form>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-6 control-label">Interest</label>
      <div class="col-sm-2">
        <div *ngFor="let subject of user.subjects">
          <li class="list-group-item">
            {{subject.name}}
          </li>
        </div>
      </div>
    </div>
  </form>

  <button *ngIf="canEdit()" class="col-sm-offset-5 col-sm-2 btn btn-primary" (click)="editProfile()">Edit Profile</button>

  <button class="col-sm-offset-5 col-sm-2 btn btn-primary" (click)="editProfile()">Edit Profile</button>
  <button class="col-sm-offset-5 col-sm-2 btn btn-primary" (click)="sendMessage()">Send Message</button>

  <div style="margin-top:100px">
    <a href="/oauth/login/facebook/">
      <button *ngIf="canEdit() && notConnectedtoFB"
              class="col-sm-offset-5 col-sm-2 btn btn-primary">Connect to Facebook</button>
    </a>
  </div>

</div>

