<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<br><br>
<div *ngIf="loginedUser" style="float:right; margin-right:5%">
  <span>Welcome, </span>{{loginedUser.name}}
  <button [routerLink]="['/user', loginedUser.id, 'message']" class="btn btn-primary btn-primary">Message</button>
  <button (click)="signOut()" class="btn btn-primary btn-primary">SignOut</button>
</div>


<div *ngIf="loginedUser && loginedUser.token_expired">
  <br><br><br>
  <div class="col-sm-offset-3 col-sm-6 alert alert-danger" role="alert" style="text-align: center;">
    It seems your Facebook access token is expired.<br>
    If you don't renew your token, your friends status will not be updated.<br>
    Please <a href="/oauth/login/facebook/" class="alert-link">click here to log in to Facebook</a> again.
  </div>
  <br><br><br>
</div>

<br><br><br>
<div style="text-align:center">
  <h2>View Profile</h2>
</div>

<div *ngIf="user">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-6 control-label">mySNU ID</label>
      <div class="col-sm-6">
        <p class="form-control-static">{{user.username}}</p>
      </div>
    </div>
  </form>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-6 control-label">Name</label>
      <div class="col-sm-6">
        <p class="form-control-static">{{user.name}}</p>
      </div>
    </div>
  </form>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-6 control-label">College</label>
      <div class="col-sm-6">
        <p class="form-control-static">{{user.college.name}}</p>
      </div>
    </div>
  </form>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-6 control-label">Interest</label>
      <div class="col-sm-2">
        <div *ngFor="let subject of user.subjects">
          <li class="list-group-item">
            {{subject.name}}
          </li>
        </div>
      </div>
    </div>
  </form>

  <br>

  <!-- Logged in user is on their own profile page -->
 <!-- <div *ngIf="status === 0">
    <button class="col-sm-offset-5 col-sm-2 btn btn-primary" (click)="editProfile()">Edit Profile</button>
    <br><br>
    <a href="/oauth/login/facebook/"> <!-- Show Facebook Connect Button -->
 <!--     <button *ngIf="!loginedUser.fb_connected" class="col-sm-offset-5 col-sm-2 btn btn-primary">Connect to Facebook</button>
    </a>
  </div>
  <!-- Facebook friend -->
 <!-- <div *ngIf="status === 1" class="text-center col-sm-offset-4 col-sm-4 alert alert-info" role="alert">
      You're a friend with this user!
  </div>

  <!-- Show mutual friends -->
 <!-- <div *ngIf="status === 2">
    <div *ngIf="mutualFriends.length === 0"
         class="text-center col-sm-offset-4 col-sm-4 alert alert-warning" role="alert">
      There's no mutual friends between you and this user.
    </div>
    <div *ngIf="mutualFriends.length > 0" class="col-sm-offset-4 col-sm-4">
        <li class="list-group-item list-group-item-success" style="text-align: center;">
          <b>Mutual friends between you and this user</b>
        </li>
        <div *ngFor="let friend of mutualFriends">
          <li class="list-group-item" style="text-align: center;">
            {{friend.name}} (username: {{friend.username}})
          </li>
        </div>
    </div>
  </div>

  <!-- This user is not connected to Facebook -->
 <!-- <div *ngIf="status === 3" class="text-center col-sm-offset-4 col-sm-4 alert alert-danger" role="alert">
    You're not connected to Facebook.<br>
    <a href="/oauth/login/facebook/" class="alert-link">Connect to Facebook now</a> to see  the mutual friends<br>
    between you and this user!
  </div>

  <!-- The user on profile page is not connected to Facebook -->
  <!--<div *ngIf="status === 4" class="text-center col-sm-offset-4 col-sm-4 alert alert-danger" role="alert">
    Can't get mutual friends because this user is not connected to Facebook.
  </div>

  <br>
  <br>
  <div *ngIf="status > 0 && status < 5">
    <button class="col-sm-offset-5 col-sm-2 btn btn-primary" (click)="sendMessage()">Send Message</button>
  </div>
</div>
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
</head>

<div *ngIf="loginedUser && loginedUser.token_expired">
  <br><br><br>
  <div class="col-sm-offset-3 col-sm-6 alert alert-danger" role="alert" style="text-align: center;">
    It seems your Facebook access token is expired.<br>
    If you don't renew your token, your friends status will not be updated.<br>
    Please <a href="/oauth/login/facebook/" class="alert-link">click here to log in to Facebook</a> again.
  </div>
  <br><br><br>
</div>

<body>
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <div class="container" *ngIf="loginedUser">
    <a class="navbar-brand" [routerLink]="['/meeting']"><i class="fa d-inline fa-lg fa-users"></i><b>SNU MO-IM</b></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
      <a class="btn navbar-btn ml-2 text-white btn-secondary" [routerLink]="['/user', loginedUser.id]"><i class="fa d-inline fa-lg fa-address-book-o"></i> Welcome, {{loginedUser.name}}</a>
      <a class="btn navbar-btn ml-2 text-white btn-secondary" [routerLink]="['/user', loginedUser.id, 'message']"><i class="fa d-inline fa-lg fa-commenting-o"></i> Message</a>
      <a class="btn navbar-btn ml-2 text-white btn-secondary" (click)="signOut()"><i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign out</a>
    </div>
  </div>
</nav>
<div class="py-5 photo-overlay" id="book" style="background-image: url(&quot;https://i.pinimg.com/originals/99/5e/6f/995e6fdf3bd0b99ec729e4988fc52a44.jpg&quot;);">
  <div class="container" *ngIf="user">
    <div class="row">
      <div class="col-md-3"> </div>
      <div class="col-lg-6 p-3 animate-in-down">
        <form class="p-4 bg-dark-opaque">
          <h4 class="mb-4 text-center">View user profile</h4>
          <div class="form-group"> <label>MYSNU ID</label>
           <p class="form-control-static">{{user.username}}</p> </div>
          <div class="form-group"> <label>NAME</label>
            <p class="form-control-static">{{user.name}}</p> </div>
          <div class="form-group"> <label>COLLEGE</label>
            <p class="form-control-static">{{user.college.name}}</p> </div>
          <div class="form-group"> <label>INTEREST</label>
            <div *ngFor="let subject of user.subjects">
              <li class="list-group-item">
                {{subject.name}}
              </li>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Logged in user is on their own profile page -->
  <div *ngIf="status === 0">
    <button class="btn mt-4 btn-block p-2 btn-outline-primary" (click)="editProfile()"><b>Edit profile</b></button>
    <br><br>
    <a href="/oauth/login/facebook/"> <!-- Show Facebook Connect Button -->
      <button *ngIf="!loginedUser.fb_connected" class="btn mt-4 btn-block p-2 btn-outline-primary"><b>Connect to </b>
        <i class="fa d-inline fa-lg fa-facebook-square"></i>
      </button>
    </a>
  </div>
  <!-- Facebook friend -->
  <div *ngIf="status === 1" class="text-center col-sm-offset-4 col-sm-4 alert alert-info" role="alert">
    You're a friend with this user!
  </div>

  <!-- Show mutual friends -->
  <div *ngIf="status === 2">
    <div *ngIf="mutualFriends.length === 0"
         class="text-center col-sm-offset-4 col-sm-4 alert alert-warning" role="alert">
      There's no mutual friends between you and this user.
    </div>
    <div *ngIf="mutualFriends.length > 0" class="col-sm-offset-4 col-sm-4">
      <li class="list-group-item list-group-item-success" style="text-align: center;">
        <b>Mutual friends between you and this user</b>
      </li>
      <div *ngFor="let friend of mutualFriends">
        <li class="list-group-item" style="text-align: center;">
          {{friend.name}} (username: {{friend.username}})
        </li>
      </div>
    </div>
  </div>

  <!-- This user is not connected to Facebook -->
  <div *ngIf="status === 3" class="text-center col-sm-offset-4 col-sm-4 alert alert-danger" role="alert">
    You're not connected to Facebook.<br>
    <a href="/oauth/login/facebook/" class="alert-link">Connect to Facebook now</a> to see  the mutual friends<br>
    between you and this user!
  </div>

  <!-- The user on profile page is not connected to Facebook -->
  <div *ngIf="status === 4" class="text-center col-sm-offset-4 col-sm-4 alert alert-danger" role="alert">
    Can't get mutual friends because this user is not connected to Facebook.
  </div>

  <div *ngIf="status > 0 && status < 5">
    <button class="col-sm-offset-5 col-sm-2 btn btn-primary" (click)="sendMessage()">Send Message</button>
  </div>
</div>


<div class="text-white bg-secondary">
  <div class="container">
    <div class="row">
      <div class="p-4 col-md-3">
        <h2 class="mb-4 light">SNU MO-IM</h2>
        <p class="text-white">A group who aims to ease of the lives of SNU students</p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-light">Mapsite</h2>
        <ul class="list-unstyled">
          <a href="#" class="text-white">Home</a>
          <br>
          <a href="#" class="text-white">About us</a>
          <br>
          <a href="#" class="text-white">Our services</a>
          <br>
          <a href="#" class="text-white">Stories</a>
        </ul>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4">Contact</h2>
        <p>
          <a href="mailto:snumoim@snu.ac.kr" class="text-white"><i class="fa d-inline mr-3 fa-envelope-o text-light"></i>SNU mail</a>
        </p>
        <a href="mailto:snumoim@snu.ac.kr" class="text-white"> </a>
        <p>
          <a href="mailto:snumoim@snu.ac.kr" class="text-white"> </a>
          <a href="https://goo.gl/5U1Q7X" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-light"></i>Seoul National University</a>
        </p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4 text-light">SNU MO-IM</h2>
        <form>
          <fieldset class="form-group text-white"> <label for="exampleInputEmail1">M: Matching<br>O: Of<br>I: Identical<br>M: Motives<br></label> </fieldset>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-white">© Copyright 2017 SNUMOIM - All rights reserved. </p>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>

</html>
