<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container" *ngIf="selectedMeeting && comments && currentUser">
  <div style="float:right; margin-top:20px;">
    <span>Welcome, <label>{{currentUser.name}}</label></span><br>
    <a [routerLink]="['/message']" class="btn btn-info btn-sm">
      <span class="glyphicon glyphicon-envelope"></span> Message
    </a>
    <button (click)="signOut()" class="btn btn-primary btn-primary">SignOut</button>
  </div><br>


  <!--Meeting Content-->
  <div class="row">
    <div class="col-lg-8">

      <label style="font-size: 30px">{{selectedMeeting.title}} </label>
      <!--Join / Leave Button-->
        <span style="float: right" *ngIf="!selectedMeeting.is_closed; else closed">
          <span *ngIf="isOwner(); else notOwner">
            <button (click)="closeMeeting()" class="btn btn-primary">Close <span class="glyphicon glyphicon-remove"></span></button>
          </span>
          <br>
          <ng-template #notOwner>
            <span *ngIf="alreadyJoined; else canJoin">
              <button (click)="leaveMeeting()" class="btn btn-primary">Leave <span class="glyphicon glyphicon-share"></span></button>
            </span>
            <ng-template #canJoin>
              <button (click)="joinMeeting()" class="btn btn-primary">
                Join <span class="glyphicon glyphicon-check"></span>
              </button>
            </ng-template>
          </ng-template>
        </span>
        <ng-template #closed>
          <label class="label label-default" style="margin-left: 10px; background-color: #C21F39" >
            CLOSED
          </label>
        </ng-template><!--End Join / Leave -->

      <p class="lead"><i class="fa fa-user"></i> by <a [routerLink]="['/user', author.id]">{{author.name}}</a>
        <span style="float:right">
          <span style="font-size: 15px">Participants</span>
          <i *ngFor="let m of selectedMeeting.members" class="fa fa-user" style="font-size:35px; color: #336699; cursor: pointer"
             (mouseenter)="changeMemberNameShown(m.name)" data-tooltip-text="" [attr.id]="memberName" [routerLink]="['/user', m.id]"></i>
          <i *ngFor="let m of emptySeats" class="fa fa-user" style="font-size:35px; color: darkgray "></i><br>
        </span>
      </p>

      <!--Invitation-->
      <div class="dropdown" *ngIf="!selectedMeeting.is_closed">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" (click)="getRecUsers()">
          <span class="glyphicon glyphicon-envelope"></span> Invite
        </button>
        <!--Invitation list-->
        <label *ngFor="let user of invitationList" class="label label-default" style="margin-left: 5px; padding-top: 4px; background-color: #7f7f7f" >
          <i class="fa fa-user" style="font-size:15px; margin-right: 3px"></i>{{user.name}}
        </label>
        <a *ngIf="invitationList.length > 0" (click)="sendInvitation()">
          <span class="glyphicon glyphicon-ok" style="color: mediumseagreen; font-size:20px;margin-left: 5px; cursor: pointer;"></span>
        </a>

        <!--Dropdown-->
        <ul class="dropdown-menu">
          <li ><a *ngFor="let user of recommendedUsers" (click)="addInvitationList(user)">{{user.name}}</a></li>
        </ul>
      </div>

      <hr>
      <p>
        <i class="fa fa-calendar"></i>
        Posted on {{month[datetime.month-1]}} {{datetime.day}}, {{datetime.year}} at {{padLeft(datetime.hour, '0',2)}}:{{padLeft(datetime.minute, '0',2)}}
        <span *ngIf="datetime.afternoon;else AM">PM</span>
        <ng-template #AM>AM</ng-template>
      </p>
      <p><i class="glyphicon glyphicon-map-marker"></i> {{selectedMeeting.location}}</p>
      <p >
        <i class="fa fa-tags"></i> Tags:
        <a *ngFor="let tag of tags" [routerLink]="['/meeting/tag']" [queryParams]="{ tag: tag.name }">
          <span class="badge badge-info">#{{tag.name}}</span>
        </a>
      </p>

      <p class="lead" style="white-space: pre-line; font-size:18px;display:block;word-wrap: break-word;">{{selectedMeeting.description}}</p>

    </div>

    <br><br>

    <!--Comments-->
    <div class="container" *ngIf="selectedMeeting && comments && currentUser">
      <!-- the comment box -->
      <div class="well">
        <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
        <form role="form">
          <div class="form-group">
            <input [(ngModel)]="newComment" class="form-control" rows="3" [ngModelOptions]="{standalone: true}">
            <input type="checkbox" class="checkbox-inline" [checked]="isPrivate" (click)="changePrivateMode(true)"> <label>Private</label>
          </div>
          <button type="submit" class="btn btn-primary" (click)="createComment(newComment)"><i class="fa fa-reply"></i> Submit</button>
        </form>
      </div>
      <hr>

      <!-- the comments -->
      <li *ngFor="let comment of comments">
        <!--Author of the comment-->
        <h5><i class="fa fa-comment"></i>
          <span style="cursor:pointer" [routerLink]="['/user', comment.author.id]">{{ comment.author.name }}</span>
          <small>
            {{padLeft(comment.datetime.hour, '0',2)}}:{{padLeft(comment.datetime.minute, '0',2)}}
            <span *ngIf="datetime.afternoon;else AM">PM</span>
            <ng-template #AM>AM</ng-template>
            on
            {{month[comment.datetime.month-1]}} {{comment.datetime.day}}, {{comment.datetime.year}}
          </small>

        </h5>
        <span *ngIf="comment.publicity || currentUser.id===selectedMeeting.author.id || currentUser.id===comment.author.id; else private_comment">
          <!--Content of the comment-->
             <span *ngIf="selectedComment!==comment;else edit_mode">
                {{comment.content}}
               <!--Edit / Delete button-->
                <span *ngIf="currentUser.id===comment.author.id">
                  <button (click)="toEditMode(comment)" class="btn btn-primary btn-sm" style="margin-left:20px;" id="edit-comment-button">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                  </button>
                  <button (click)="deleteComment(comment)" class="btn btn-primary btn-sm" id="delete-comment-button">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                  </button>
                </span>
              </span>

             <ng-template #edit_mode>
               <input [(ngModel)]="comment.content">
               <button (click)="editComment(comment)" class="btn btn-primary btn-sm" id="update-button">Update</button>
               <button (click)="cancleEditMode(comment)" class="btn btn-primary btn-sm" id="cancle-edit-button">Cancle</button>
               <input type="checkbox" class="checkbox-inline" [checked]="!comment.publicity" (click)="changePrivateMode(false)"> Private
             </ng-template>
        </span>
        <ng-template #private_comment>
          <label style="color:royalblue">Private comment</label>
        </ng-template>
      </li>
    </div>
    <br>

    <div class="container" *ngIf="selectedMeeting">
      <div style="float:right">
    <span *ngIf="!selectedMeeting.is_closed && isOwner()">
      <button (click)="edit()" class="btn btn-primary btn-primary" id="edit-button" >
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button (click)="delete()" class="btn btn-primary btn-primary" id="delete-button">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </span>
        <button (click)="goBack()" class="btn btn-primary btn-primary" id="back-button">
          <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
        </button>
      </div>
    </div>
  </div>
</div>



