<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<button (click)="signOut()" class="col-sm-offset-1 col-sm-1 btn btn-primary" id="signout-button">Sign out</button>
<br><br>
<h2 class="text-center">Edit MO-IM</h2>
<br>

<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#edit-meeting" data-toggle="tab">Edit</a></li>
    <li><a href="#preview" data-toggle="tab">Preview</a></li>
  </ul>
</div>
<br><br>

<div class="tab-content">
  <div id="edit-meeting" class="tab-pane fade in active">
    <div *ngIf="selectedMeeting">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Title</label>
          <div class="col-sm-8">
            <input class="col-sm-9 form-control" [(ngModel)]="selectedMeeting.title" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Description</label>
          <div class="col-sm-8">
            <textarea type="text" class="form-control" rows="10" style="width:500px;height:300px"
                      [(ngModel)]="selectedMeeting.description" [ngModelOptions]="{standalone: true}">
            </textarea>
          </div>
        </div>
      </form>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Location</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="selectedMeeting.location" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Interest</label>
          <div class="checkbox checkbox-inline">
            <div *ngFor="let interest of interests">
              <input type="radio" class="radio-inline" name="interest" (click)="interestCheck(interest.name)">{{interest.name}}
              <div *ngFor="let subject of interest.subjects">
                <div class="col-sm-offset-1" *ngIf="interestChecked[interest.name]">
                  <input type="radio" class="radio-inline" name="subject" (click)="subjectCheck(subject)">{{subject.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Members</label>
          <div class="col-sm-8">
            <input class="form-control" [(ngModel)]="selectedMeeting.max_member" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>
    </div>

  </div>


  <div id="preview" class="tab-pane fade"  *ngIf="selectedMeeting">

    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-6 control-label">Title</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{selectedMeeting.title}}</p>
        </div>
      </div>
    </form>

    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-6 control-label">Description</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{selectedMeeting.description}}</p>
        </div>
      </div>
    </form>

    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-6 control-label">Interest</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{selectedSubject.name}}</p>
        </div>
      </div>
    </form>

    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-6 control-label">Location</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{selectedMeeting.location}}</p>
        </div>
      </div>
    </form>

    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-6 control-label">Participant</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{selectedMeeting.max_member}}</p>
        </div>
      </div>
    </form>

  </div>

</div>

<button class="col-sm-offset-5 col-sm-2 btn btn-primary"
        (click)="toEdit()">Edit</button>

<button (click)="goBack()" class="col-sm-offset-2 col-sm-2 btn btn-primary" id="go-back-button">Back</button>
